

h1 {
    
    font-family: "IM+Fell+English+SC&display=swap" sans-serif;
        font-size: 25px;
     color: brown;
    text-align: center;
}

.Flexcontainer img {
    display: block;
    margin: auto;
}